body {
  height: 1px;
  background: linear-gradient(45deg, #DCDCDD, #C5C3C6);
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 25%;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.add-task {
  display: block;
}

.add-task > * {
  width: 100%;
}

.input-task-name {
  width: 100%;
}

.tasklist {
  color: red;
}

.task {
  cursor: default;
  background-color: whitesmoke;
  margin-top: 1vh;
  border-radius: 5px;
  padding-left: 5px;
  overflow:hidden
}

.task-information {
  float:left; 
  display:inline; 
}

.task-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.task-description {
  white-space: pre-line;
}

.task-timestamp {
  color: darkgrey;
  margin-bottom: 0;
}

.task-icon {
  position: relative;
  top: 66px;
  height: 100%;
  transform: translateY(-50%);
}

.task-completion {
  float: left;
}

.task-delete {
  float: right
}

.icon {
  height: 5vh;
  display:inline; 
  padding: 1vh;
}