.wrapper {
  position: absolute;
  height: 100%;
  width: 25%;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.add-task {
  display: block;
}

.add-task > * {
  width: 100%;
}

.input-task-name {
  width: 100%;
}

.tasklist {
  color: red;
}