* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing:border-box;
}

body {
  background: linear-gradient(45deg, #D8DBE2, #A9BCD0);
  height: 1px;
}

input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

input[type=text] {
  height: 50px;
  outline: none;
  color: gray;
}

input[type=text]:focus{
  border: 3px solid lightgray;
}

#root {
  width: 100%;
}

.box {
  background-color: whitesmoke;
  margin: 3px;
  border-radius: 5px;
  padding: 5px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button {
  height: 50px;
  width: 150px;
}

.button:hover {
  background-color: #A9BCD0;
}

.button:focus {
  border: 3px solid lightgray;
  background-color: #D8DBE2;
}

.save {
  background-color: lightgray;
}

.cancel {
  background-color: rgb(216, 29, 29);
}

.wrapper {
  position: absolute;
  height: auto;
  width: 90%;
  top: 5%;
  left: 5%;
  right: 5%;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.add-task {
  
}

.add-task > * {
  width: auto;
  margin: 5px;
}

.tasklist {
  color: red;
  grid-column: 1;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: row;
  grid-auto-columns: 50%;
}

.completed {
  grid-column: 1;
}

.edit-task {
  grid-column: 2;
  grid-row: 1 / auto;
}

.default-cursor {
  cursor: default;
}

.task {
  cursor: default;
}

.task-information {
  float:left; 
  display:inline; 
}

.task-title {
  font-size: 25px;
  margin: 5px 0 5px 0;
}

.task-description {
  word-break: break-all; /*  */
  white-space: normal; /* be sure its not 'nowrap'! ! ! :/ */
}

.task-timestamp {
  color: darkgrey;
  margin-bottom: 0;
  
  position: relative;
  bottom:0;
}

.task-icon {
  position: relative;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translateY(-50%);
}

.task-completion {
  float: left;
}

.task-delete {
  float: right
}

.icon {
  color:black;
  display:inline; 
  padding: 3px;
  width: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}