.todo {
    width: 50%;
    margin: 0 auto;
}

.todo-label {
    width: 45px;
    height: 25px;
    margin: 0 auto;
}

.add-task {
    width: 190px;
    margin: 0 auto;
}

.task-list {
    width: 500px;
    margin: 0 auto;
}

.task {
    width: 500px;
    height: 100px;
    background-color: greenyellow;

    margin-top: 10px;
}

.task:nth-child(even) {
    background-color: aqua;
}