.current_speed {
    color: white;
    margin-top: 1vh;
    position: relative;
}

.dropdown{
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 0;

    width: 100%;

    cursor: default;
    user-select: none;
}

.dropdown * {
    display: inline-block;
    padding-right: 10px;
}

.dropdown *:not(:hover) {
    color: rgb(255,255,255, 0.2);
}

#current_speed_value {
    position: absolute;
    right: 50%;
    cursor: default;
}

#current_speed_unit {
    position: absolute;
    left: 50%;
    cursor: pointer;
}