body {
  background-color: black;
}

.App {
  display:flex;
  height: 100%;
  flex-direction: row;
}

.stellar-object {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.Navigation {
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
}

#barycenter {
  position: absolute;
  top: 2%;
  left: 0;
  background-color: white;
  height: 96%;
  width: 1px;
}

.auto-scroll {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
}