body {
  background-color: black;
}

.App {
  display:flex;
  height: 100%;
  flex-direction: row;
}

.stellar-object {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}